.container-weekly {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0px 20px;
}
.trending-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin: 20px 0;
}
.h1-a-weekly {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h1-home-weekly {
  margin: 0;
  font-size: 24px;
}
.trending-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  position: relative;
  height: 500px;
  flex: 1;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.trending-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 63%,
    rgba(0, 0, 0, 0.7) 92%
  );
}
.trending-card .card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;

  z-index: 2;
}
.trending-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.trending-card h3 {
  font-size: 18px;
  color: #ffdd00;
  margin: 0;
}

.trending-card p {
  font-size: 14px;
  color: #bbb;
}

.see-all-link {
  display: block;
  text-align: right;
  font-size: 28px;
  color: var(--orange);
  text-decoration: none;
}

.icon {
  width: 16px;
  height: 16px;
  fill: gold;
  margin-right: 4px;
}
.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-info-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-info-left {
  flex: 1;
}

.card-info-right {
  display: flex;
  align-items: center;
}

.container-upcoming {
  padding: 0px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.h1-home {
  text-transform: uppercase;
}

.upcoming-movie-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
  gap: 16px;
}

.upcoming-movie-card img {
  flex-basis: 66.66%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.upcoming-movie-details {
  flex-basis: 33.33%;
  flex: 1;
}

.upcoming-movie-details h2 {
  font-size: 2rem;
  margin-bottom: 28px;
}
.upcoming-movie-title {
  font-size: medium;
}
.upcoming-movie-details p,
.upcoming-movie-details h3 {
  margin-bottom: 10px;
}

#add-library-button {
  background: linear-gradient(135deg, #ffc226 0%, #f84119 100%);
  border: none;
  padding: 12px 24px;
  color: var(--black);
  border-radius: 74px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

#upcoming-release-date {
  color: var(--orange);
  font-weight: bold;
}
.vote-section {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  text-align: left;
}

#upcoming-vote {
  display: flex;
  align-items: center;
  gap: 5px;
}

.vote-average-container,
.vote-count-container {
  background-color: #ffffff;
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
}

.vote-p-container {
  text-align: left;
}

.vote-average-container {
  min-width: 40px;
}

.vote-count-container {
  min-width: 60px;
}
.p-home {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: 10px;
}

.p-home-about {
  margin-bottom: 16px;
}
.movie-info-table {
  width: 100%;
  border-collapse: collapse;
}

.movie-info-table th,
.movie-info-table td {
  padding: 6px 0px;
  text-align: left;
}

.movie-info-table th {
  font-weight: bold;
  color: var(--grey);
}

.h3-home-about {
  color: var(--grey);
  margin-top: 14px;
}

/* Stylizacje dla desktopu */
@media (min-width: 1158px) {
  .upcoming-movie-card {
    flex-direction: row;
    max-height: 500px;
  }

  .upcoming-movie-card img {
    width: 50%;
    height: 100%;
  }

  .upcoming-movie-details {
    padding-left: 20px;
  }
  .movie-info-table {
    width: 100%;
    border-collapse: collapse;
  }

  .movie-info-table th,
  .movie-info-table td {
    padding: 6px 0px;
    text-align: left;
    border: none;
  }
  .trending-container {
    display: flex;
  }
}

/* Stylizacje dla tabletów (między 768px a 1157px) */
@media (min-width: 768px) and (max-width: 1157px) {
  .upcoming-movie-card {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .upcoming-movie-card img {
    width: 100%;
    height: auto;
  }

  .upcoming-movie-details {
    text-align: left;
    padding-left: 0;
    width: 100%;
  }

  .upcoming-movie-details h2 {
    font-size: 1.8rem;
  }

  .p-home {
    display: flex;
    justify-content: space-between;
  }
  .trending-container {
    display: flex;
  }
}

/* Stylizacje dla urządzeń mobilnych (poniżej 768px) */
@media (max-width: 767px) {
  .upcoming-movie-card {
    flex-direction: column;
    align-items: left;
    align-items: flex-start;
    gap: 15px;
  }

  .upcoming-movie-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .upcoming-movie-details {
    text-align: left;
  }

  .upcoming-movie-details h2 {
    font-size: 1.5rem;
  }

  .movie-info-table {
    display: table;
    width: 100%;
  }

  .movie-info-table th,
  .movie-info-table td {
    padding: 6px 0px;
    text-align: left;
  }

  .trending-container {
    display: block;
  }
}
